/***************** Landing Page ***********************/
#landingPage {
	position: absolute;
	width: 60%;
	height: 60%;
	margin-left: 20%;
	margin-top: 12%;
}

#landingPage h1 {
	margin-top: 40px;

}

#landingPage h1 {
	cursor: default;
}

#landingPage h3 {
	cursor: default;
}

#landingPage h2 {
	cursor: pointer;
}

#landingPage div {
	margin-top: 60px;
	margin-left: 180px;
	width: 300px;
}

#landingPage h3 {
	color: black;
}

#landingPage h2 {
	display: inline-block;
}

#landingPage .viewReadMe {
	margin-left: 140px;
	margin-top: 35px;
}

#landingPage .newGame {
	margin-left: 60px;
}

#landingPage h2:last-child {
	margin-left: 60px;
}
/******************************************************/



/******************* Game General *********************/
h3 {
	color: gray;
	cursor: default;
}

#gameContent {
	visibility: hidden;
}
/******************************************************/

/********************* Player 1 ***********************/
.player1 {
	position: absolute;
	height: 20px;
	width: 20px;
	z-index: 1;
}

/******************************************************/

/********************* Player 2 ***********************/
.player2 {
	position: absolute;
	height: 20px;
	width: 20px;
	z-index: 1;
}
/******************************************************/

/*************** Left Column Styling ******************/
.leftColumn {
	position: absolute;
	top: 260px;
	left: 20px;
	height: 500px;
	width: 240px;
	background-color: black;
}

.leftColumn h3 {
	color: white;
}

.playerIndicator {
	position: relative;
	top: 40px;
	left: 10px;
}

.playerIndicator h3 {
	font-size: 1.6em;
}

.turn {
	position: absolute;
	top: 140px;
	left: 10px;
}

input[type=submit] {
	font-size: 1.4em;
	background: white;
	color: gray;
	border: 0;
	cursor: pointer;
}

input:focus {
	outline: none;
}
/******************************************************/

/************** Right Column Styling ******************/
/***************** Balances ***************************/
.balances {
	position: absolute;
	top: 140px;
	left: 10px;
}

.balances span {
	margin-left: 20px;
}

.playerBalances {
	position: absolute;
	top: 90px;
	left: 0px;
}

.playerBalances h3 {
	display: inline-block;
}


.playerBalances h3:last-child {
	margin-left: 65px;
}

.balances h3 {
	font-size: 1.4em;
}

.balances > h3:first-child {
	font-size: 1.6em;
	margin-left: 0px;
}
/******************************************************/

/****************** Purchase Prompt *******************/
.purchasePrompt {
	position: absolute;
	top: 300px;
	left: 1021px;
	visibility: hidden;
}

.purchasePrompt h3 {
	font-size: 1.4em;
}

.yesNo h3 {
	display: inline-block;
	cursor: pointer;
}

.purchaseYes {
	margin-left: 55px;
}

.purchaseNo {
	margin-left: 40px;
}

/******************************************************/

/******************* Not Enough ***********************/
.notEnoughFunds {
	visibility: hidden;
	position: absolute;
	top: 440px;
	left: 1040px;
}

.notEnoughFunds h3 {
	font-size: 1.4em;
}
/******************************************************/

/*************** Invest Prompts ***********************/
.investPrompt {
	position: absolute;
	top: 400px;
	left: 1021px;
	/*visibility: hidden;*/
}

.investPrompt h3 {
	font-size: 1.5em;
}

.moveOrInvest h3 {
	display: inline-block;
}

.moveOrInvest h3:last-child {
	margin-left: 40px;
}

.tooFarToInvest {
	position: absolute;
	margin-left: 50px;

}
/******************************************************/
/******************************************************/

/********************* Board **************************/
/**************** General Properties ******************/
.tile {
	position: absolute;
	width: 70px;
	height: 70px;
	border: solid 5px white;
	background-color: black;
	z-index: -5;
}

.water {
	position: absolute;
	width: 70px;
	height: 70px;
	border: solid 5px blue;
	background-color: blue;
	z-index: -6;
}
/******************************************************/

/****************** Row Settings **********************/
.rowA div {
	top: 150px;
}

.rowB div {
	top: 230px;
}

.rowC div {
	top: 310px;
}

.rowD div {
	top: 390px;
}

.rowE div {
	top: 470px;
}

.rowF div {
	top: 550px;
}

.rowG div {
	top: 630px;
}

.rowH div {
	top: 710px;
}

.rowI div {
	top: 790px;
	margin-bottom: 150px;
}
/******************************************************/

/**************** Column Settings *********************/
.A {
	left: 275px;
}

.B {
	left: 355px;
}

.C {
	left: 435px;
}

.D {
	left: 515px;
}

.E {
	left: 595px;
}

.F {
	left: 675px;
}

.G {
	left: 755px;
}

.H {
	left: 835px;
}

.I {
	left: 915px;
}
/******************************************************/

/******************* Value Settings *******************/
.v1 {
	background-color: white;
}

.v2 {
	background-color: #b0b0b0;
}
/******************************************************/

/******************* Ownership ************************/
.player1Owned {
	border-color: red;
}

.player2Owned {
	border-color: yellow;
}
/******************************************************/

