/******************** General *************************/
/*@font-face {
	font-family: "Effra";
	src: ;*/
}
h1, h2, h3, h4 {
	font-family: "Franklin Gothic", sans-serif;
}
/******************************************************/

/****************** Headline **************************/
#headline h1, #headline div {
	display: inline-block;
}

#headline h1, #headline h4 {
	cursor: default;
	color: #6dcff6;
	margin-bottom: 0px;
}

#headline h1 {
	margin-top: 40px;
	margin-left: 220px;
	font-size: 3em;
}

#headline .navBar {
	position: absolute;
	margin-left: 560px;
	margin-top: 50px;
}

#headline .navBar .startNewGame {
	margin-left: 40px;
}

#headline .navBar h4 {
 display: inline-block;
 font-size: 1.1em;
 cursor: pointer;
}

#headline hr {
	border: 1px solid #2f86f5;

}
/******************************************************/

/***************** Landing Page ***********************/
#landingPage {
	position: absolute;
	width: 90%;
	height: 60%;
	margin-left: 5%;
	margin-top: 0%;
}

#landingPage h3 {
	cursor: default;
	font-size: 1.5em;
	text-align: center;
}

#landingPage h2 {
	cursor: pointer;
}

#landingPage div:first-child {
	margin-top: 60px;
	margin-left: 260px;
	width: 600px;
}

#landingPage h3 {
	color: #c7c8ca;
}

/*#landingPage h2 {
	display: inline-block;
}*/

#landingPage .viewReadMe {
	margin-left: 489px;
	margin-top: 70px;
	margin-bottom: 70px;
	color: #6dcff6;
}

#landingPage .firstGame {
	margin-left: 508px;
	color: #6dcff6;
}
/*
#landingPage h2:last-child {
	margin-left: 60px;
}*/

#landingPage .redIcon {
	position: absolute;
	top: 200px;
	left: 20px;
}

#landingPage .yellowIcon {
	position: absolute;
	left: 790px;
	top: 220px;
}
/******************************************************/



/******************* Game General *********************/
h3 {
	color: #c7c8ca;
	cursor: default;
}

#gameContent {
	visibility: hidden;
}
/******************************************************/

/********************* Player 1 ***********************/
.player1 {
	position: absolute;
	height: 12px;
	width: 12px;
	z-index: 1;
}

/******************************************************/

/********************* Player 2 ***********************/
.player2 {
	position: absolute;
	height: 12px;
	width: 12px;
	z-index: 1;
}
/******************************************************/

/******************** Soldiers ************************/
.soldier {
	position: absolute;
	height: 9.6px;
	width: 9.6px;
	z-index: 1;
	border-radius: 6px;
	text-align: center;
}

/******************************************************/

/*************** Left Column Styling ******************/
.leftColumn {
	position: absolute;
	top: 140px;
	left: 225px;
	height: 500px;
	width: 240px;
}

.leftColumn h2 {
	color: #6dcff6;
}

.leftColumn h3 {
	color: #c7c8ca;
}

.instructions .instructEconomy {
	position: absolute;
	margin-top: 0px;
}

.instructions .instructMilitary {
	position: absolute;
	margin-top: 0px;
}

.phaseIndicator {
	position: absolute;
	margin-left: 0px;
	margin-top: 252px;
}

/*.turn {
	position: absolute;
	top: 140px;
	left: 10px;
}*/

.balances {
	position: absolute;
	top: 358px;
	left: 0px;
}

.balances .playerName {
	margin-top: 0px;
	margin-bottom: 0px;
}

.balances .playerBalance {
	margin-top: 0px;
	margin-bottom: 10px;
}
/******************************************************/

/****************** Purchase Prompt *******************/
.purchasePrompt {
	position: absolute;
	top: 300px;
	left: 1021px;
	visibility: hidden;
}

.purchasePrompt h3 {
	font-size: 1.4em;
}

.yesNo h3 {
	display: inline-block;
	cursor: pointer;
}

.purchaseYes {
	margin-left: 55px;
}

.purchaseNo {
	margin-left: 40px;
}

/******************************************************/

/******************* Not Enough ***********************/
.notEnoughFunds {
	visibility: hidden;
	position: absolute;
	top: 540px;
	left: 1040px;
}

.notEnoughFunds h3 {
	font-size: 1.4em;
}
/******************************************************/

/*************** Invest Prompts ***********************/
.fullyInvested {
	position: absolute;
	top: 350px;
	left: 1055px;
	visibility: hidden;
}

.fullyInvested h3 {
	color: gray;
	font-size: 1.5em;
}

.moveOrInvest {
	position: absolute;
	top: 390px;
	left: 1045px;
	visibility: hidden;
}

.moveOrInvest h3 {
	display: inline-block;
	color: gray;
	font-size: 1.6em;
	cursor: pointer;
}

.moveOrInvest .investFunction  {
	margin-left: 40px;
}

.moveOrInvest .doNothing {
	margin-left: 52px;
}

.tooFarToInvest {
	position: absolute;
	top: 390px;
	left: 1052px;
	visibility: hidden;
}

.tooFarToInvest h3 {
	font-size: 1.6em;
	color: #c7c8ca;
	cursor: pointer;
}

.tooFarToInvest .investFunction {
	margin-left: 50px;
}

.tooFarToInvest .doNothing {
	margin-left: 52px;
}
/******************************************************/
/******************************************************/

/********************* Board **************************/
/**************** General Properties ******************/
.tile {
	position: absolute;
	width: 42px;
	height: 42px;
	border: solid 3px white;
	z-index: -5;
}

.water {
	position: absolute;
	width: 42px;
	height: 42px;
	border: solid 3px white;
	background-color: #00b9f2;
	z-index: -6;
}
/******************************************************/

/****************** Row Settings **********************/
.rowA div {
	top: 150px;
}

.rowB div {
	top: 198px;
}

.rowC div {
	top: 246px;
}

.rowD div {
	top: 294px;
}

.rowE div {
	top: 342px;
}

.rowF div {
	top: 390px;
}

.rowG div {
	top: 438px;
}

.rowH div {
	top: 486px;
}

.rowI div {
	top: 534px;
}
/******************************************************/

/**************** Column Settings *********************/
.A {
	left: 525px;
}

.B {
	left: 573px;
}

.C {
	left: 621px;
}

.D {
	left: 669px;
}

.E {
	left: 717px;
}

.F {
	left: 765px;
}

.G {
	left: 813px;
}

.H {
	left: 861px;
}

.I {
	left: 909px;
}
/******************************************************/

/***************** Water Properties *******************/
/*.rowB .water {
	border-top-color: white;
}

.water.B {
	border-left-color: white;
}

.water.D {
	border-right-color: white;
}

.rowD .water {
	border-bottom-color: white;
}

.water.F {
	border-left-color: white;
}

.water.H {
	border-right-color: white;
}

.rowF .water {
	border-top-color: white;
}

.rowH .water {
	border-bottom-color: white;
}
*/

/******************************************************/

/************** Investment Divs ***********************/
div .i1 {
	position: absolute;
	height: 9px;
	width: 9px;
	top: 0px;
	left: 0px;
	z-index: 5;

}

div .i2 {
	position: absolute;
	height: 9px;
	width: 9px;
	top: 0;
	left: 78%;
	z-index: 5;
}

div .i3 {
	position: absolute;
	height: 9px;
	width: 9px;
	top: 78%;
	left: 0;
	z-index: 5;
}

div .i4 {
	position: absolute;
	height: 9px;
	width: 9px;
	top: 78%;
	left: 78%;
	z-index: 5;
}
/******************************************************/

/******************* Value Settings *******************/
.v1 {
	background-color: white;
}

.v2 {
	background-color: #e6e7e9;
}

.v3 {
	background-color: #bcbdc1;
}

.v4 {
	background-color: #949599;
}

.v5 {
	background-color: #58595b;
}
/******************************************************/

/******************* Ownership ************************/
.player1Owned {
	border-color: #ed8584;
}

.i1.player1Owned {
	background-color: #ed8584;
}

.i2.player1Owned {
	background-color: #ed8584;
}

.i3.player1Owned {
	background-color: #ed8584;
}
.i4.player1Owned {
	background-color: #ed8584;
}

.player2Owned {
	border-color: #f8efa2;
}

.i1.player2Owned {
	background-color: #f8efa2;
}

.i2.player2Owned {
	background-color: #f8efa2;
}

.i3.player2Owned {
	background-color: #f8efa2;
}

.i4.player2Owned {
	background-color: #f8efa2;
}

.currentArmy {
	border: 3px dashed #58595b;
}
/******************************************************/

